/* Font face declarations */

@font-face {
  font-family: 'Nitti-Light';
  src: url('../fonts/Nitti-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Nitti-Light.otf')  format('opentype'),
	     url('../fonts/Nitti-Light.woff') format('woff'), url('../fonts/Nitti-Light.ttf')  format('truetype'), url('../fonts/Nitti-Light.svg#Nitti-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nitti-Medium';
  src: url('../fonts/Nitti-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Nitti-Medium.otf')  format('opentype'),
	     url('../fonts/Nitti-Medium.woff') format('woff'), url('../fonts/Nitti-Medium.ttf')  format('truetype'), url('../fonts/Nitti-Medium.svg#Nitti-Medium') format('svg');
  font-weight: 700;
  font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%; }

img {
  max-width: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */

.cd-img-replace {
  /* replace text with image */
  color: transparent;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Intro page

-------------------------------- */
.cd-intro-block {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: #f9f8f8;
  /* used to vertical align its content */
  display: table;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}
.cd-intro-block::after {
  /* arrow icon visible when .cd-intro-block slides out */
  content: '< hey, that was uncalled for. bring back that lovely page.';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  top: 97.5%;
  background-color: #F9F8F8;
  width: 100%;
  text-align: left;
  height: 3em;
  line-height: 1.9;
  vertical-align: middle;
  padding: 0.6em 1em;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.cd-intro-block .content-wrapper {
  /* vertical align the .cd-intro-block content */
  display: table-cell;
  vertical-align: middle;
}
.cd-intro-block.projects-visible {
  /* translate the .cd-intro-block element to reveal the projects slider */
  -webkit-transform: translateY(-95%);
  -moz-transform: translateY(-95%);
  -ms-transform: translateY(-95%);
  -o-transform: translateY(-95%);
  transform: translateY(-95%);
  box-shadow: 0 2px 2px rgba(192, 177, 185, 0.6);
  cursor: pointer;
}
.cd-intro-block.projects-visible #footer{
 	padding: 0;
}
.cd-intro-block.projects-visible:after {
  /* show arrow icon */
  opacity: 1;
}

@media only screen and (min-width: 900px) {
  .cd-intro-block::after {
    top: 97.5%;
  }
  .cd-intro-block h1 {
    font-size: 4.4rem;
    font-weight: 300;
  }
  .crew .cd-intro-block h1 {
    font-size: 3rem;
    font-weight: 300;
  }
  .cd-intro-block.projects-visible {
    -webkit-transform: translateY(-95%);
    -moz-transform: translateY(-95%);
    -ms-transform: translateY(-95%);
    -o-transform: translateY(-95%);
    transform: translateY(-95%);
  }
}

/* -------------------------------- 

Projects Slider

-------------------------------- */
.cd-projects-wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #ebebeb;
  -webkit-transition: visibility 0s 0.2s;
  -moz-transition: visibility 0s 0.2s;
  transition: visibility 0s 0.2s;
}
.cd-projects-wrapper::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-projects-wrapper.projects-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

@media only screen and (min-width: 900px) {
  .cd-projects-wrapper::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-slider {
  padding-top: 10vh;
  height: 100%;
  overflow-y: auto;
}
.projects-visible .cd-slider {
  /* smooth scrolling on iOS */
  -webkit-overflow-scrolling: touch;
}
.cd-slider li {
  margin: 4%;
  opacity: 0;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(192, 177, 185, 0.2);
  -webkit-transition: opacity 0s 0.5s;
  -moz-transition: opacity 0s 0.5s;
  transition: opacity 0s 0.5s;
  /* Force hardware acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-slider li.slides-in {
  -webkit-transition: opacity 0s 0s;
  -moz-transition: opacity 0s 0s;
  transition: opacity 0s 0s;
  opacity: 1;
  -webkit-animation: cd-translate 0.5s;
  -moz-animation: cd-translate 0.5s;
  animation: cd-translate 0.5s;
}
.cd-slider a {
  display: block;
  height: 100%;
  width: 100%;
}
.cd-slider li > a{
	border: none;
}
.cd-slider img {
  display: block;
  border-radius: .11em .11em 0 0;
  width: 100%;
}
.cd-slider .project-info {
  padding: 1em 1.6em;
  background-color: #fff;
  border-radius: 0 0 .11em .11em;
  min-height: 66px;
}
.cd-slider h2 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.2;
}
.cd-slider p {
  font-size: 1.4rem;
  opacity: .6;
  padding: .4em 0;
  /* truncate text with ellipsis if too long */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cd-slider h2, .cd-slider p {
  line-height: 1.2;
}

@media only screen and (min-width: 900px) {
  .cd-slider {
    padding: 0;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    /* Force hardware acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cd-slider::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-slider li {
    position: relative;
    float: left;
    width: 26vw;
    margin: 0 0 0 2vw;
    top: 50%;
    -webkit-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -moz-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -ms-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -o-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
    -moz-transition: opacity 0s 0.3s, -moz-transform 0s 0.3s;
    transition: opacity 0s 0.3s, transform 0s 0.3s;
  }
  .cd-slider li:first-of-type {
    margin-left: 9vw;
  }
  .cd-slider li.slides-in {
    /* this class is used to trigger the entrance animation */
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-slider li.slides-in:first-of-type {
    /* change transition duration/delay for the entrance animation */
    -webkit-transition: -webkit-transform 0.55s 0s;
    -moz-transition: -moz-transform 0.55s 0s;
    transition: transform 0.55s 0s;
  }
  .cd-slider li.slides-in:nth-of-type(2) {
    -webkit-transition: -webkit-transform 0.53s 0.05s;
    -moz-transition: -moz-transform 0.53s 0.05s;
    transition: transform 0.53s 0.05s;
  }
  .cd-slider li.slides-in:nth-of-type(3) {
    -webkit-transition: -webkit-transform 0.5s 0.1s;
    -moz-transition: -moz-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
  }
  .cd-slider li.slides-in:nth-of-type(4) {
    -webkit-transition: -webkit-transform 0.48s 0.15s;
    -moz-transition: -moz-transform 0.48s 0.15s;
    transition: transform 0.48s 0.15s;
  }
  .cd-slider.next li.current {
    /* next slide animation */
    -webkit-animation: cd-slide-1 0.5s;
    -moz-animation: cd-slide-1 0.5s;
    animation: cd-slide-1 0.5s;
  }
  .cd-slider.next li.current + li {
    -webkit-animation: cd-slide-2 0.5s;
    -moz-animation: cd-slide-2 0.5s;
    animation: cd-slide-2 0.5s;
  }
  .cd-slider.next li.current + li + li {
    -webkit-animation: cd-slide-3 0.5s;
    -moz-animation: cd-slide-3 0.5s;
    animation: cd-slide-3 0.5s;
  }
  .cd-slider.next li.current + li + li + li + li {
    -webkit-animation: cd-slide-4 0.5s;
    -moz-animation: cd-slide-4 0.5s;
    animation: cd-slide-4 0.5s;
  }
  .cd-slider.next li.current + li + li + li + li + li {
    -webkit-animation: cd-slide-5 0.5s;
    -moz-animation: cd-slide-5 0.5s;
    animation: cd-slide-5 0.5s;
  }
  .cd-slider.next li.current + li + li + li + li + li ~ li {
    -webkit-animation: cd-slide-6 0.5s;
    -moz-animation: cd-slide-6 0.5s;
    animation: cd-slide-6 0.5s;
  }
  .cd-slider.prev li {
    /* previous slide animation */
    -webkit-animation: cd-slide-7 0.5s;
    -moz-animation: cd-slide-7 0.5s;
    animation: cd-slide-7 0.5s;
  }
  .cd-slider.prev li.previous {
    /* previous slide animation - the previous class is used to target the slide which was visible right before the current one */
    -webkit-animation: cd-slide-1 0.5s;
    -moz-animation: cd-slide-1 0.5s;
    animation: cd-slide-1 0.5s;
  }
  .cd-slider.prev li.previous + li {
    -webkit-animation: cd-slide-2 0.5s;
    -moz-animation: cd-slide-2 0.5s;
    animation: cd-slide-2 0.5s;
  }
  .cd-slider.prev li.previous + li + li {
    -webkit-animation: cd-slide-3 0.5s;
    -moz-animation: cd-slide-3 0.5s;
    animation: cd-slide-3 0.5s;
  }
  .cd-slider.prev li.current + li {
    -webkit-animation: cd-slide-4 0.5s;
    -moz-animation: cd-slide-4 0.5s;
    animation: cd-slide-4 0.5s;
  }
  .cd-slider.prev li.current + li + li {
    -webkit-animation: cd-slide-5 0.5s;
    -moz-animation: cd-slide-5 0.5s;
    animation: cd-slide-5 0.5s;
  }
  .cd-slider.prev li.current, .cd-slider.prev li.current + li + li ~ li {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}


@-webkit-keyframes cd-slide-1 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-85%);
  }
}
@-moz-keyframes cd-slide-1 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(-85%);
  }
}
@keyframes cd-slide-1 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-85%);
    -moz-transform: translateY(-50%) translateX(-85%);
    -ms-transform: translateY(-50%) translateX(-85%);
    -o-transform: translateY(-50%) translateX(-85%);
    transform: translateY(-50%) translateX(-85%);
  }
}
@-webkit-keyframes cd-slide-2 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-55%);
  }
}
@-moz-keyframes cd-slide-2 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(-55%);
  }
}
@keyframes cd-slide-2 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-55%);
    -moz-transform: translateY(-50%) translateX(-55%);
    -ms-transform: translateY(-50%) translateX(-55%);
    -o-transform: translateY(-50%) translateX(-55%);
    transform: translateY(-50%) translateX(-55%);
  }
}
@-webkit-keyframes cd-slide-3 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-23%);
  }
}
@-moz-keyframes cd-slide-3 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(-23%);
  }
}
@keyframes cd-slide-3 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-23%);
    -moz-transform: translateY(-50%) translateX(-23%);
    -ms-transform: translateY(-50%) translateX(-23%);
    -o-transform: translateY(-50%) translateX(-23%);
    transform: translateY(-50%) translateX(-23%);
  }
}
@-webkit-keyframes cd-slide-4 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(23%);
  }
}
@-moz-keyframes cd-slide-4 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(23%);
  }
}
@keyframes cd-slide-4 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(23%);
    -moz-transform: translateY(-50%) translateX(23%);
    -ms-transform: translateY(-50%) translateX(23%);
    -o-transform: translateY(-50%) translateX(23%);
    transform: translateY(-50%) translateX(23%);
  }
}
@-webkit-keyframes cd-slide-5 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(55%);
  }
}
@-moz-keyframes cd-slide-5 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(55%);
  }
}
@keyframes cd-slide-5 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(55%);
    -moz-transform: translateY(-50%) translateX(55%);
    -ms-transform: translateY(-50%) translateX(55%);
    -o-transform: translateY(-50%) translateX(55%);
    transform: translateY(-50%) translateX(55%);
  }
}
@-webkit-keyframes cd-slide-6 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(65%);
  }
}
@-moz-keyframes cd-slide-6 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(65%);
  }
}
@keyframes cd-slide-6 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(65%);
    -moz-transform: translateY(-50%) translateX(65%);
    -ms-transform: translateY(-50%) translateX(65%);
    -o-transform: translateY(-50%) translateX(65%);
    transform: translateY(-50%) translateX(65%);
  }
}
@-webkit-keyframes cd-slide-7 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-95%);
  }
}
@-moz-keyframes cd-slide-7 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(-95%);
  }
}
@keyframes cd-slide-7 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-95%);
    -moz-transform: translateY(-50%) translateX(-95%);
    -ms-transform: translateY(-50%) translateX(-95%);
    -o-transform: translateY(-50%) translateX(-95%);
    transform: translateY(-50%) translateX(-95%);
  }
}
/* -------------------------------- 

Project slider navigation

-------------------------------- */
.cd-slider-navigation {
  display: none;
}
.cd-slider-navigation a {
  position: absolute;
  top: 50%;
  bottom: auto;
  border: none!important;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 60px;
  width: 4%;
  background: url('data:image/svg+xml;utf8,<svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="none" stroke="#444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9 2l14 14L9 30"/></svg>') no-repeat center center;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
}
.cd-slider-navigation a, .cd-slider-navigation a:hover, .cd-slider-navigation a:active, .cd-slider-navigation a:visited{
	border: none;
}
.cd-slider-navigation a.next {
  right: 0;
  left: auto;
}
.cd-slider-navigation a.prev {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-slider-navigation a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 900px) {
  .cd-slider-navigation {
    display: block;
  }
}

/* -------------------------------- 

Project content panel 

-------------------------------- */
.cd-project-content {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #F9F8F8;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0.4s;
  transition: transform 0.4s 0s, visibility 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}
.cd-project-content.bg-white{
	background-color: #fff;
}
.cd-project-content > div {
  height: 100%;
  overflow-y: auto;
  padding: 4em 0;
}
.cd-project-content > div > * {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.cd-project-content > div > div.fullWidth{
	max-width: 100%;
	width: 100%;
	margin: 1em auto;
	padding: 0;
}
.cd-project-content.is-visible {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}
.cd-project-content.is-visible > div {
  /* smooth scrolling on iOS */
  -webkit-overflow-scrolling: touch;
}
.cd-project-content h2 {
  font-size: 2.4rem;
  font-weight: 300;
}
.cd-project-content h3 {
  font-family: 'Nitti-Light', 'Consolas', 'Courier New', Courier, monospace;
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.posthead-img{
	padding: 2em 0;
}
.posthead-img-caption {
	color: #aa99a2;
	text-align: center;
	font-size: 1.1em;
	line-height: 1.3;
	max-width: 666px!important;
}
.cd-project-content em {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1em auto;
  margin-bottom: 2em;
}
.cd-project-content p {
  margin-bottom: 1em;
  line-height: 1.875;
}
.cd-project-content .close {
  display: block;
  height: 66px;
  width: 100%;
  position: absolute;
  right: 33px;
  background: url('../img/cd-close-dark.svg') no-repeat bottom right;
    background: url('data:image/svg+xml;utf8,<svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="#444" d="M17.4 16L27.7 5.7c.4-.4.4-1 0-1.4s-1-.4-1.4 0L16 14.6 5.7 4.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4L14.6 16 4.3 26.3c-.4.4-.4 1 0 1.4.2.2.4.3.7.3s.5-.1.7-.3L16 17.4l10.3 10.3c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L17.4 16z"/></svg>') no-repeat bottom right;
}
.cd-project-content .close {
  top: 0;
}
.cd-project-content a.close{
	border: none;
}
@media only screen and (min-width: 900px) {
  .cd-project-content h2 {
    font-size: 6rem;
  }
  .cd-project-content .close {
    top: 0;
    right: 5%;
  }
}

/* -------------------------------- 

Keyframes

-------------------------------- */
@-webkit-keyframes cd-translate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes cd-translate {
  0% {
    opacity: 0;
    -moz-transform: translateY(100px);
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes cd-translate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


/* --- TEXT STYLES --- */

.home, .crew{
	font-family: 'Nitti-Light', 'Consolas', 'Courier New', Courier;
	font-size: 21px;
	color: #2b222b;
	background-color: #f9f8f8;
}
.container{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 2em;
}
#header-1{
	padding: 1.3em 0 0.22em 2em;
	margin: 0 auto;
	margin-right: 2em;
	width: 99%;
	border-bottom: 2px solid #C0B1B9;
}
#header{
	padding: 1.3em 0 0.22em 2em;
	margin: 0 auto;
	max-width: 800px;
	width: 99%;
}
#header-bottom{
	border-bottom: 2px solid #D7CDD2;
    margin-left: 5px;
    width: 100%;
    padding-bottom: 2px;
    max-width: 99%;
}
#logo-ctn{
	margin-top: -1px;
	margin-left: -2.1em;
}
.header-main {
	color: #4F3F4F;
}


/* Typographic & utility classes */

.font-weight-light{
	font-family: 'Nitti-Light', 'Consolas', 'Courier New', Courier, monospace;
}
.font-weight-normal{
	font-family: 'Nitti-Normal', 'Consolas', 'Courier New', Courier, monospace;
}    	
.font-weight-medium{
	font-family: 'Nitti-Medium', 'Consolas', 'Courier New', Courier, monospace;
}
.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.hide {
  display: none; }

.center {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.fullHeight{
	height: 100vh;
}
#content{
	margin-top: 7%;
}


/* Default Link Styles */
a {
  color: #2b222b;
  text-decoration: none;
  border-bottom: 2px solid #C0B1B9;
  line-height: 1.9; }
  a:hover, a:focus, a:visited:hover {
    border-bottom: 2px solid #f2b333;
    }
  a:visited {
    color: #AA99A2;
    border-bottom: 2px solid #C0B1B9;
    }
  a img, a.img {
    border: none;
    text-decoration: none; }

/* Default paragraph styles */
p {
  font-size: 1.3em;
  color: #2b222b;
  line-height: 1.875;
  margin: 1em 0; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Nitti-Medium', 'Consolas', 'Courier New', Courier, monospace;
	font-weight: 300;
	margin-top: 0.2em;
	margin-bottom: 1.2em;
	line-height: 1.25; }
	h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	    font-family: 'Nitti-Light', 'Consolas', 'Courier New', Courier, monospace;
		font-size: 60%;
		color: white;
		line-height: 0;
	}

h1 {
  font-family: 'Nitti-Light', 'Consolas', 'Courier New', Courier, monospace;
  font-size: 2.99em;
  margin-top: 9%;
  margin-bottom: 19%;
  }
h1 a, h1 a:visited {
  color: #2b222b;
  text-decoration: none;
  border-bottom: 4px solid #d7cdd2;
  line-height: inherit; }
  h1 a:hover, h1 a:focus, h1 a:visited:hover {
    border-bottom: 4px solid #f2b333;
    }

h2 {
  font-size: 1.25em; }

h3 {
  font-size: 1.225em;
}

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1em; }


hr {
  border: solid #dddddd;
  border-width: 2px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0; }

/* Helpful Typography Defaults */
em,
i {
  line-height: inherit; }

strong,
b {
  font-family: 'Nitti-Medium', 'Consolas', 'Courier New', Courier, monospace;
  font-weight: 700;
  line-height: inherit; }

small {
  font-family: 'Nitti-Light', 'Consolas', 'Courier New', Courier, monospace;
  font-size: 75%;
  line-height: inherit; }
span.small {
  font-family: 'Nitti-Light', 'Consolas', 'Courier New', Courier, monospace;
  font-size: 75%;
  line-height: inherit; }


/* Lists */
ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
  font-family: inherit; }

ul {
  margin-left: 1.1em; }
  ul.no-bullet {
    margin-left: 0; }
    ul.no-bullet li ul,
    ul.no-bullet li ol {
      margin-left: 1.25em;
      margin-bottom: 0;
      list-style: none; }

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25em;
  margin-bottom: 0; }
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit; }
ul.square {
  list-style-type: square;
  margin-left: 1.1em; }
ul.circle {
  list-style-type: circle;
  margin-left: 1.1em; }
ul.disc {
  list-style-type: disc;
  margin-left: 1.1em; }
ul.no-bullet {
  list-style: none; }


/* Ordered Lists */
ol {
  margin-left: 1.4em; }
  ol li ul,
  ol li ol {
    margin-left: 1.25em;
    margin-bottom: 0; }

/* Definition Lists */
dl dt {
  margin-bottom: 0.3em;
  font-weight: bold; }
dl dd {
  margin-bottom: 0.75em; }

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #221122;
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

abbr {
  text-transform: none; }

/* Blockquotes */
blockquote {
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em 0 1.1875em;
  border-left: 1px solid #dddddd; }
  blockquote cite {
    display: block;
    font-size: 0.8125em;
    color: white; }
    blockquote cite:before {
      content: "\2014 \0020"; }
    blockquote cite a,
    blockquote cite a:visited {
      color: white; }

blockquote,
blockquote p {
  line-height: 1.6;
  color: white; }


img {
  max-width: 100%;
  vertical-align: bottom;
}
img.border{
	border: 3px solid #eee9ec;
}
img.midWidth{
	width: 100%;
	max-width: 1024px;
}
img.maxWidth{
	width: 100%;
	max-width: 1440px;
}
img.fullWidth{
	width: 100%;
	max-width: 100%;
}
.img-container{
	height: 85%;
}
i.img-untold-posts {
	background: transparent url('../img/assets/untold_facebook_posts.png') no-repeat center center;
	background-size: contain;
	display: block;
	height: 100%;
	width: 100%;
	max-width: 100%;
}

.cd-project-content h2 > img{
	margin-bottom: 0.5em;
}

p.caption{
	text-align: center;
	font-size: 1em;
	color: #aa99a2;
	margin: 0 auto!important;
}
.fullWidth p.caption{
	padding: 1em 0;
}
.more-bottom-margin{
	margin-bottom: 2.2em!important;
}
.more-top-margin{
	margin-top: 2.2em!important;
}
.bg-white{
	background-color: #fff;
}


/* Fake markdown styles */

.markdown-h1::before{
	content: '#';
	color: #d7cdd2;
	margin-left: -0.88em;
	padding-right: 0.22em;
}
.markdown-h1.woof::before{
	content:url('data:image/svg+xml;utf8,<svg width="34" height="28" viewBox="0 0 34 28" xmlns="http://www.w3.org/2000/svg"><title>woof</title><path d="M7.388 15.728l-1.63-.28c-.412-.07-.733-.29-.717-.486.017-.197.352-.47.746-.61l3.48-1.216a.754.754 0 0 1 .127-.035c1.928-.68 7.89-2.79 8.432-3.1.648-.37 2.048-1.263 3.382-2.94.51-.643.972-1.546 1.31-2.3-1.026.285-1.47-.224-1.04-1.08.728-1.46 1.862-1.776 2.8-1.735.333-.202.776-.375 1.07-.406.35-.04.96.048 1.348.193l6.126 2.27c.392.144.512.537.272.872l-.845 1.174c-.242.336-.775.676-1.183.757l-1.85.365c-.41.082-1.02.35-1.354.594-.395.29-.772.79-.9 1.153-.127.364-.215.998-.197 1.41l.63 13.983c.02.412-.26.75-.62.75s-.725-.33-.813-.735l-1.117-5.157a.63.63 0 0 0-.867-.463l-.378.143c-.39.147-.754.602-.812 1.01l-.86 6.227c-.056.41-.408.742-.783.742-.374 0-.71-.337-.747-.748l-.505-5.642a.882.882 0 0 0-.824-.775s-5.05-.214-5.683-.214c-1.84 0-2.295 2.983-2.265 3.394l.103 1.47c.03.41-.254.748-.63.748-.378 0-.777-.325-.892-.722l-.876-3.034c-.417.252-.87.725-1.073 1.086l-1.81 3.243c-.2.36-.705.657-1.123.657-.46.002-.7-.32-.574-.712l3.145-9.852z" fill="#D7CDD2" fill-rule="evenodd"/></svg>');
	position:relative;
	top:3px;
	left: -0.11em;
}
.large.woof::after{
	content:url('data:image/svg+xml;utf8,<svg width="65" height="54" viewBox="0 0 65 54" xmlns="http://www.w3.org/2000/svg"><title>woof_large</title><path d="M13.34 30.333l-3.163-.54c-.8-.136-1.422-.56-1.392-.94.03-.378.68-.907 1.446-1.174l6.76-2.347c.084-.03.165-.053.243-.067 3.743-1.31 15.317-5.382 16.37-5.98 1.257-.713 3.973-2.437 6.564-5.672.99-1.24 1.887-2.98 2.543-4.434-1.99.55-2.852-.433-2.022-2.084 1.416-2.816 3.618-3.425 5.44-3.346.644-.39 1.504-.72 2.076-.782.68-.073 1.86.094 2.616.373l11.892 4.38c.76.278.992 1.037.525 1.682l-1.64 2.264c-.47.65-1.504 1.305-2.296 1.46l-3.593.707c-.792.156-1.975.673-2.625 1.145-.768.56-1.5 1.524-1.747 2.224-.248.702-.417 1.926-.384 2.72l1.227 26.966c.038.796-.504 1.446-1.205 1.446-.698 0-1.41-.636-1.58-1.415l-2.167-9.947c-.17-.78-.927-1.182-1.683-.895l-.735.276c-.755.283-1.463 1.16-1.575 1.95l-1.67 12.006c-.108.79-.792 1.432-1.52 1.432-.725 0-1.38-.65-1.45-1.442l-.98-10.88c-.07-.793-.792-1.465-1.6-1.495 0 0-9.807-.412-11.033-.412-3.574 0-4.455 5.75-4.397 6.543l.2 2.836c.057.792-.495 1.442-1.227 1.442-.732 0-1.507-.627-1.73-1.392l-1.7-5.85c-.81.484-1.69 1.396-2.084 2.092l-3.51 6.255c-.388.694-1.37 1.267-2.18 1.267-.895.003-1.36-.616-1.115-1.375l6.104-19z" fill="#BBB0B5" fill-rule="evenodd"/></svg>');
	position:relative;
	top:11px;
	left: 33px;
	opacity: 0.7;
}
#straydog-lnk:hover + .large.woof::after{
	content:url('data:image/svg+xml;utf8,<svg width="65" height="54" viewBox="0 0 65 54" xmlns="http://www.w3.org/2000/svg"><title>woof_large</title><path d="M13.34 30.333l-3.163-.54c-.8-.136-1.422-.56-1.392-.94.03-.378.68-.907 1.446-1.174l6.76-2.347c.084-.03.165-.053.243-.067 3.743-1.31 15.317-5.382 16.37-5.98 1.257-.713 3.973-2.437 6.564-5.672.99-1.24 1.887-2.98 2.543-4.434-1.99.55-2.852-.433-2.022-2.084 1.416-2.816 3.618-3.425 5.44-3.346.644-.39 1.504-.72 2.076-.782.68-.073 1.86.094 2.616.373l11.892 4.38c.76.278.992 1.037.525 1.682l-1.64 2.264c-.47.65-1.504 1.305-2.296 1.46l-3.593.707c-.792.156-1.975.673-2.625 1.145-.768.56-1.5 1.524-1.747 2.224-.248.702-.417 1.926-.384 2.72l1.227 26.966c.038.796-.504 1.446-1.205 1.446-.698 0-1.41-.636-1.58-1.415l-2.167-9.947c-.17-.78-.927-1.182-1.683-.895l-.735.276c-.755.283-1.463 1.16-1.575 1.95l-1.67 12.006c-.108.79-.792 1.432-1.52 1.432-.725 0-1.38-.65-1.45-1.442l-.98-10.88c-.07-.793-.792-1.465-1.6-1.495 0 0-9.807-.412-11.033-.412-3.574 0-4.455 5.75-4.397 6.543l.2 2.836c.057.792-.495 1.442-1.227 1.442-.732 0-1.507-.627-1.73-1.392l-1.7-5.85c-.81.484-1.69 1.396-2.084 2.092l-3.51 6.255c-.388.694-1.37 1.267-2.18 1.267-.895.003-1.36-.616-1.115-1.375l6.104-19z" fill="#F2B333" fill-rule="evenodd"/></svg>');
}
.markdown-h1 span{
	color: #C7BEC3;
	font-size: 0.8em;
}
.markdown-h2::before{
	content: '##';
	color: #d7cdd2;
	margin-left: -1.6em;
	padding-right: 0.3em;
}
.markdown-quote{
	line-height: 1.66;
}
.markdown-quote::before{
	content: '>';
	color: #d7cdd2;
	margin-top: -55px;
	margin-left: -0.7em;
	padding-right: 0.05em;
}
.markdown-quote a {
	word-spacing: -0.33em;
}
ul.markdown-ul {
	font-size: 1.2em;
	list-style: none;
	margin-bottom: 2.3em;
}
ul.markdown-ul.projects li{
	margin-bottom: 0.5em;
}
ul.markdown-ul li{
	margin-bottom: 1.5em;
}
ul.markdown-ul li::before {
	content: '-';
	color: #C0B1B9;
	margin-top: -55px;
	margin-left: -0.88em;
	padding-right: 0.22em;
}
.grey{
	color: #aa99a2;
}
.grey a, .grey a:visited, .grey a:hover{
	color: #aa99a2;
}
.apologize{
	font-size: 1.1em;
	color: #aa99a2;
}
#footnotes{
	font-size: 0.8em;
	margin-top: 6em;
}
#footnotes ul li{
	margin-bottom: 1em;
}
#footer{
	padding: 2em 0 3em 3em;
	font-size: 0.66em;
	z-index: 9999;
}
#footer a, #footer a:visited, #footer a:active{
	border: none;
}
#footer a:hover, #footer a:visited, #footer a:active{
	border-bottom: 1px solid #C0B1B9;
}
.mobile-only{
	display: none;
	visibility: hidden;
}

/*--- PORTFOLIO STYLES ---*/

.crew .meta{
	font-family: 'Nitti-Light', 'Consolas', 'Courier New', Courier, monospace;
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
}


/*--- MEDIA QUERIES ---*/

@media only screen and (max-width: 899px) {
	body, html, .home, .crew{
		font-size: 19px;
	}
	
	.cd-project-content > div > *{
		padding: 0 22px;
	}
	
	.cd-intro-block::after {
	  /* arrow icon visible when .cd-intro-block slides out */
	  content: '< hey, back to that lovely page.';
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  bottom: auto;
	  right: auto;
	  top: 97.5%;
	  background-color: #F9F8F8;
	  width: 100%;
	  text-align: left;
	  height: 3em;
	  line-height: 1.9;
	  vertical-align: middle;
	  padding: 0.6em 1em;
	  opacity: 0;
	  -webkit-transition: opacity 0.5s;
	  -moz-transition: opacity 0.5s;
	  transition: opacity 0.5s;
	}
}
@media only screen and (min-width: 900px) {
	.cd-projects-wrapper::before {
	  /* never visible - this is used in jQuery to check the current MQ */
	  content: 'desktop';
	}
	.cd-slider-navigation {
	display: block;
	}
	.cd-project-content h2 {
	font-size: 2.4rem;
	line-height: 1.3;
	}
	.cd-project-content em {
	  font-size: 1.6rem;
	}
	.cd-project-content .close {
	  display: block;
	  height: 66px;
	  width: 100%;
	  position: absolute;
	  right: 33px;
	}
  .cd-slider::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-slider li {
    position: relative;
    float: left;
    width: 26vw;
    margin: 0 0 0 2vw;
    top: 50%;
  }
  .cd-slider li:first-of-type {
    margin-left: 9vw;
  }
}

@media only screen 
and (max-width: 460px) {
	
	h1.markdown-quote{
		line-height: 1.47;
	}
	.large.woof::after{
		top: 22px;
		left: 0;
	}
	p{
		font-size: 1.3em;
	}
	.apologize{
		font-size: 1em;
	}
	h1, h2, h3, h4, h5, h6{
		margin-bottom: 0.66em;
	}
	.markdown-h1::before{
		margin-left: -0.8em;
	}
	.cd-project-content h1, .cd-project-content h2, .cd-project-content h3, .cd-project-content h4{
		text-align: center;
	}
	.cd-project-content h2{
		margin-left: -0.3em;
	}
	.cd-project-content h3{
		font-size: 1.8em;
		margin-left: -0.4em;
	}
}

@media only screen 
and (min-width: 320px) 
and (max-width: 667px) {
	body, html, .home, .crew{
		font-size: 16px;
	}
	ul {
	  margin-left: 0; }
	.markdown-h1::before{
		margin-left: 0;
	}
	.markdown-h2::before{
		margin-left: 0;
	}
	#logo-ctn > svg{
		width: 44px;
		height: 44px;
	}
	#header-bottom {
	    margin-left: 10px;
	    max-width: 95%;
	    width: 100%;
	}
	.header-sub{
		line-height: 1.5;
	}
	.posthead-img-caption, .cd-project-content em{
		font-size: 1.3em;
	}
	iframe{
		width: 100%;
	}
	.hide-on-mobile{
		display: none;
		visibility: hidden;
	}
	.mobile-only{
		display: block;
		visibility: visible;
	}
	.cd-project-content .close{
		right: 11px;
		height: 36px;
		background: url('data:image/svg+xml;utf8,<svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path fill="#444" d="M17.4 16L27.7 5.7c.4-.4.4-1 0-1.4s-1-.4-1.4 0L16 14.6 5.7 4.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4L14.6 16 4.3 26.3c-.4.4-.4 1 0 1.4.2.2.4.3.7.3s.5-.1.7-.3L16 17.4l10.3 10.3c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L17.4 16z"/></svg>') no-repeat bottom right;
	}
}

/* iPhone */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) {
	.cd-intro-block.projects-visible {
	  -webkit-transform: translateY(-96%);
	  -moz-transform: translateY(-96%);
	  -ms-transform: translateY(-96%);
	  -o-transform: translateY(-96%);
	  transform: translateY(-96%);
	  box-shadow: 0 2px 2px rgba(192, 177, 185, 0.6);
	}
}


@media only screen and (min-width: 1441px) {
	#content{
		margin-top: 9%;
	}
	.posthead-img{
		margin-top: 6.6%;
	}
	.markdown-quote{
		margin-bottom: 22%;
	}
}


/* Firefox hacks */

@-moz-document url-prefix() {
	.cd-project-content .close {
	  display: block;
	  height: 66px;
	  width: 100%;
	  position: absolute;
	  right: 33px;
	  background: url('../img/cd-close-dark.svg') no-repeat bottom right;
	}
	.cd-slider-navigation a {
	  position: absolute;
	  top: 50%;
	  bottom: auto;
	  border: none!important;
	  -webkit-transform: translateY(-50%);
	  -moz-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  transform: translateY(-50%);
	  left: 0;
	  height: 60px;
	  width: 4%;
	  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
	  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
	  transition: opacity 0.2s 0s, visibility 0s 0s;
	  background: url('../img/cd-arrow.svg') no-repeat center center;
	}
	.markdown-h1.woof::before{
		content:url('../img/woof.svg');
		position:relative;
		top:3px;
		left: -0.11em;
	}
	.large.woof::after{
		content:url('../img/woof_grey_large.svg');
		position:relative;
		top:11px;
		left: 33px;
		opacity: 0.7;
	}
	#straydog-lnk:hover + .large.woof::after{
		content:url('../img/woof_large.svg');
	}
	
}

/* another way to target FF */
/* .selector, x:-moz-any-link, x:default { color:lime; } /* FireFox 3 */